{% assign mathematics = site.data.data.mathematics %}
{% if mathematics %}
<section class="mathematics-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ mathematics.title }}
  </h2>

  <div class="skillset">

    {% for mathematics in mathematics.toolset %}
    <div class="item">

      <h3 class="level-title">{{ mathematics.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ mathematics.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//mathematics-section-->
{% endif %}
